* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Lato;
}

html {
  height: -webkit-fill-available;
  scroll-behavior: smooth;
}
html body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: -webkit-fill-available;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: #B8860B;
}

ul li {
  list-style-type: none;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.bg-body {
  opacity: 0.9;
}

address {
  margin-bottom: 0;
}

/*Header styles */
.header {
  background-color: #000;
}
.header_logo {
  border-radius: 50%;
  padding: 10px;
  width: 125px;
  height: 125px;
  -webkit-box-shadow: 0 0 16px 16px rgba(210, 210, 210, 0.3);
          box-shadow: 0 0 16px 16px rgba(210, 210, 210, 0.3);
  -ms-flex-item-align: center;
      align-self: center;
}
.header_contacts, .header_menu {
  position: relative;
  display: none;
  margin: 0 auto;
  border: 1px solid #fff;
  border-radius: 5px;
  width: 75%;
  font-size: 16px;
  font-weight: 600;
}
.header_contacts i.fa-plus, .header_menu i.fa-plus {
  display: inline-block;
  position: absolute;
  right: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.header_contacts i.fa-chevron-down, .header_menu i.fa-chevron-down {
  display: none;
}
.header_contacts.opened i.fa-plus, .header_menu.opened i.fa-plus {
  display: none;
}
.header_contacts.opened i.fa-chevron-down, .header_menu.opened i.fa-chevron-down {
  display: inline-block;
  position: absolute;
  right: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.header_contacts {
  margin-bottom: 10px;
}
.header i.fa-solid {
  margin-right: 3px;
}
.header .lang {
  margin-left: 5px;
}
.header .navpanel {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .navpanel_item {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.header .navpanel_logo {
  text-align: center;
}
.header .navpanel_contacts a, .header .navpanel_menu a {
  font-size: 19px;
  font-weight: 600;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.header .navpanel_contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .navpanel_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 15px;
}
.header .navpanel_menu .link_active {
  color: #B8860B;
}
.header .navpanel_menu .link_active:hover {
  color: #fff;
}

/*Section Main */
.main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.main .booking .top-content {
  background: url("../img/promo/bg2.jpg") center center/cover no-repeat;
  padding-bottom: 125px;
}
.main .booking_form {
  margin: 0 auto;
}
.main_title {
  text-align: center;
  padding: 15px 0;
  font-size: 44px;
  font-weight: 900;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 0;
}
.main_content {
  padding-top: 125px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 50px;
}
.main_slider {
  width: 680px;
  height: 407px;
}
.main .carousel-inner {
  position: relative;
  height: 100%;
}
.main .carousel-inner .carousel-item {
  height: 100%;
}
.main .carousel-inner .carousel-item img {
  z-index: 0;
}
.main .fast-track.arrival {
  background: url("../img/fast-track/airport_arr.jpg") center center/cover no-repeat;
}
.main .fast-track.departure {
  background: url("../img/fast-track/airport_dep.jpg") center center/cover no-repeat;
}

.car-image {
  max-height: 100%;
}

.slider-title {
  position: absolute;
  bottom: 0;
  padding: 10px;
  background-color: #444444;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  width: 100%;
  z-index: 5;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider-arrow {
  position: absolute;
  top: 40%;
  border: none;
}
.slider-arrow i {
  color: #444444;
  font-size: 30px;
}

#slider-prev {
  left: 20px;
}

#slider-next {
  right: 20px;
}

/*Forms */
.rsvn-form {
  height: 407px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rsvn-srv-choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.srv-tab {
  padding: 10px 20px;
  font-size: 20px;
  width: 48%;
  text-align: center;
  cursor: pointer;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.srv-tab:not(.srv-tab-active) {
  background-color: rgb(179, 179, 179);
  color: #000;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.srv-tab:not(.srv-tab-active):hover {
  background-color: #696969;
  font-weight: 700;
  color: #fff;
}

.trf-tab.srv-tab-active {
  border-top: 1px solid #696969;
  border-right: 1px solid #696969;
}

.hourly-tab.srv-tab-active {
  border-top: 1px solid #696969;
  border-left: 1px solid #696969;
}

.row-location {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.row-location .form-select {
  width: 90%;
  border: 2px solid black;
}

i.i-location {
  display: block;
  font-size: 20px;
  color: #444444;
}

.srv-tab-active {
  background: #fff;
  color: #000;
  font-weight: 700;
}

.form-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

label.forms-text {
  width: 100%;
  text-align: left;
  padding-left: 28px;
}

.forms-text, .rsvn-form-select, .request-text, .request-select {
  padding: 10px;
  font-size: 20px;
}

.rsvn-form_select {
  border-radius: 5px;
  font-size: 18px;
}
.rsvn-form_select option {
  padding-left: 5px;
}

#pickUpWarning, #dropOffWarning {
  position: absolute;
  top: 60px;
  left: 28%;
  color: #B8860B;
  font-weight: 600;
}

#search, #requestBtn {
  padding: 10px 20px;
  border: 2px solid black;
  background-color: #444;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 100%;
}

#search {
  margin-top: 10px;
}
#search:hover {
  color: #B8860B;
  background-color: #000;
}

.row-location .outlineWarning {
  outline: 3px solid #B8860B;
}

/*Cars menu */
.cars-list {
  margin: 50px auto 50px;
  max-width: 1046px;
}

.car {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.car-icon, .car-data, .car-price, .selectBtn {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.car-capacity {
  margin-bottom: 0;
}
.car-capacity span {
  font-size: 20px;
  margin-right: 15px;
}

.car-name {
  font-size: 18px;
  margin-bottom: 5px;
}

.car-price {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.car-capacity i {
  margin-right: 10px;
}

.selectBtn {
  padding: 10px 30px;
  border: 2px solid black;
  background-color: #444;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.selectBtn:hover {
  color: #B8860B;
  background-color: #000;
}

/*Booking details form */
.request-form {
  margin: 0 auto;
  width: 1046px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.request-title {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  grid-column: 1/4;
}

.request-text {
  width: 100%;
}

input.request-text {
  margin-bottom: 20px;
}

p.request-text {
  margin-bottom: 10px;
  border-bottom: 2px solid #444;
  text-transform: uppercase;
}

label.request-text {
  font-size: 18px;
}
label[for=serviceDay], label[for=serviceMonth] {
  padding-top: 0;
}

.service-date {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 7px;
}

.select-day, .select-month, .select-year, .select-time {
  width: 47%;
}

#serviceTime {
  margin-bottom: 0;
}

.request-form input, .request-form select {
  border: 1px solid black;
}

#requestBtn {
  height: 52px;
}
#requestBtn:hover {
  color: #B8860B;
  background-color: #000;
}

#comments {
  height: 52px;
  resize: none;
  grid-column: 1/3;
}

/*Section services */
.swing-in-top-fwd {
  -webkit-animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
          animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}

@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
.services_title {
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  color: #fff;
  background-color: #444;
  padding: 15px 0;
  margin-bottom: 40px;
  margin-top: 40px;
}
.services_item {
  margin: 0 auto;
}
.services_subtitle {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}
.services_img {
  width: 100%;
  border-radius: 5px;
}
.services_text {
  padding: 10px 5px 0;
  font-size: 18px;
  text-indent: 20px;
  text-align: justify;
}
.services details > summary {
  list-style: none;
  position: relative;
  margin-bottom: 10px;
}
.services details > summary::before {
  display: block;
  content: "";
  left: -5px;
  top: 4px;
  position: absolute;
  background: url("../img/icons/chevron-right.svg") center center/cover no-repeat;
  width: 20px;
  height: 20px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.services details[open] > summary {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.services details[open] > summary::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 4px;
  left: -4px;
}
.services_link {
  color: blue;
  text-align: right;
  font-size: 17px;
  text-decoration: underline;
  padding-right: 25px;
}
.services_line {
  margin: 10px auto;
  width: 80%;
  height: 5px;
  background-color: #B8860B;
  border-radius: 50%;
}
.services_list {
  margin-bottom: 0;
}
.services_list-item {
  position: relative;
  font-size: 17px;
  text-indent: 0;
  color: #27567a;
  margin-bottom: 10px;
}
.services_list-item::before {
  display: block;
  width: 20px;
  height: 20px;
  left: -30px;
  top: 3px;
  content: "";
  position: absolute;
  background: url("../img/icons/circle-check.svg") center center/cover no-repeat;
}
.services_list-item:last-child {
  margin-bottom: 0;
}
.services_list-item a {
  color: #a03636;
  text-decoration: underline;
}

.cars-gallery {
  padding-bottom: 35px;
}
.cars-gallery_title {
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  color: #fff;
  background-color: #444;
  padding: 15px 0;
  margin-bottom: 40px;
  margin-top: 40px;
}
.cars-gallery_warning {
  text-align: center;
  font-size: 17px;
  position: relative;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 4px 2px rgba(204, 51, 0, 0.5);
          box-shadow: 0 0 4px 2px rgba(204, 51, 0, 0.5);
  padding: 10px 45px;
  margin-bottom: 40px;
}
.cars-gallery_warning::before {
  content: "";
  background: url("../img/icons/warning.svg") center center/cover no-repeat;
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 20px;
}
.cars-gallery ul.nav li {
  margin: 0;
  cursor: pointer;
}
.cars-gallery ul.nav li.nav-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid rgba(128, 128, 128, 0.438);
  border-bottom: 1px solid transparent;
  border-top-right-radius: 10px;
}
.cars-gallery ul.nav li.nav-item:hover {
  background-color: rgba(128, 128, 128, 0.438);
}
.cars-gallery ul.nav li.nav-item.active {
  background-color: #000;
  color: #fff;
}
.cars-gallery ul.nav li.nav-item.active a.nav-link {
  color: black;
}
.cars-gallery .nav-tabs a.nav-link {
  border: none;
}
.cars-gallery_car-name {
  display: none;
  position: relative;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.438);
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.cars-gallery_car-name i.fa-plus {
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.cars-gallery_car-name i.fa-chevron-down {
  display: none;
}
.cars-gallery_car-name.active {
  background-color: #000;
  color: #fff;
}
.cars-gallery_car-name.active i.fa-chevron-down {
  color: #fff;
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.cars-gallery_car-name.active i.fa-plus {
  display: none;
}
.cars-gallery .tab-content {
  padding: 20px;
}
.cars-gallery_photo {
  border-radius: 5%;
  -webkit-transition: 1s all;
  transition: 1s all;
  cursor: pointer;
}
.cars-gallery_photo.scaled {
  -webkit-transform: scale(130%);
          transform: scale(130%);
}
.cars-gallery_photo.scaled:first-child {
  -webkit-transform-origin: left center;
          transform-origin: left center;
}
.cars-gallery_photo.scaled:last-child {
  -webkit-transform-origin: right center;
          transform-origin: right center;
}

.footer {
  padding: 20px 0;
  background-color: #000;
}
.footer_wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer a {
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
}
.footer_social {
  gap: 20px;
}
.footer_social i {
  color: #fff;
  font-size: 35px;
  cursor: pointer;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
}
.footer_social i:hover {
  color: #B8860B;
  -webkit-transform: scale(150%);
          transform: scale(150%);
}
.footer_text {
  color: #fff;
  text-align: center;
}
.footer_address {
  text-align: center;
}
.footer_address i.i-location {
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  display: inline;
}
.footer_links {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 20px;
}
.footer_links a {
  font-weight: 600;
}
.footer_links .link_active {
  color: #B8860B;
}
.footer_links .link_active:hover {
  color: #fff;
}

.fast-track {
  padding-bottom: 40px;
}
.fast-track .services_title {
  margin-top: 0;
  background-color: rgba(68, 68, 68, 0.8);
}
.fast-track .services_item {
  background-color: rgba(255, 255, 255, 0.9);
}
.fast-track .services_list {
  margin-bottom: 5px;
}
.fast-track_subtitle {
  font-size: 22px;
  text-indent: 25px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 10px;
  color: #008080;
}
.fast-track_list {
  margin-bottom: 0;
}
.fast-track_item {
  position: relative;
  font-size: 18px;
  text-indent: 0;
  margin-bottom: 10px;
}
.fast-track_item::before {
  display: block;
  width: 20px;
  height: 20px;
  left: -30px;
  top: 3px;
  content: "";
  position: absolute;
  background: url("../img/icons/tick.svg") center center/cover no-repeat;
}
.fast-track_item:last-child {
  margin-bottom: 0;
}
.fast-track_empty {
  opacity: 0;
}

.terms_title {
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  color: #fff;
  background-color: #444;
  padding: 15px 0;
  margin-bottom: 40px;
  margin-top: 40px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: rgba(68, 68, 68, 0.9);
}
.terms_list {
  margin: 20px auto;
}
.terms_item {
  position: relative;
  font-size: 18px;
  text-indent: 0;
  margin-bottom: 10px;
}
.terms_item::before {
  display: block;
  width: 20px;
  height: 20px;
  left: -30px;
  top: 3px;
  content: "";
  position: absolute;
  background: url("../img/icons/tick.svg") center center/cover no-repeat;
}

.about {
  padding: 30px 0;
}
.about_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
}
.about_leader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  max-width: 500px;
}
.about_photo {
  max-width: 100%;
}
.about_name {
  font-size: 24px;
  font-weight: 800;
  text-align: center;
}
.about_name br {
  display: none;
}
.about_position {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}
.about_description {
  padding-top: 50px;
}
.about_text {
  font-size: 18px;
  text-indent: 25px;
  text-align: justify;
}

@media (max-width: 1399px) {
  .fast-track_item {
    font-size: 16px;
  }
  .about_name {
    font-size: 20px;
  }
  .about_position {
    font-size: 18px;
  }
}
@media (max-width: 1199px) {
  .header_logo {
    max-width: 100%;
  }
  .header .navpanel a {
    font-size: 17px;
  }
  .main .booking .top-content {
    padding-bottom: 75px;
  }
  .main_content {
    padding-top: 75px;
  }
  .main_slider {
    height: 380px;
    width: 570px;
  }
  .main .rsvn-form {
    height: 380px;
  }
  .main .rsvn-form #pickUpWarning, .main .rsvn-form #dropOffWarning {
    top: 48px;
  }
  .main .cars-list {
    width: 100%;
  }
  .main .cars-list .car-data {
    -webkit-box-flex: 1.2;
        -ms-flex: 1.2;
            flex: 1.2;
  }
  .main .request-form {
    width: 100%;
  }
  .main .request-form .request-text, .main .request-form .request-select {
    font-size: 18px;
  }
  .main .request-form .service-date {
    gap: 5px;
  }
  .fast-track .services_subtitle {
    font-size: 21px;
  }
  .cars-gallery ul.nav li.nav-item {
    font-size: 14px;
  }
  .footer_text, .footer_address a {
    font-size: 14px;
  }
}
@media (max-width: 991px) {
  a:hover {
    color: #fff;
  }
  .header .navpanel_menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 30px;
    gap: 30px;
  }
  .header .navpanel_menu_contacts a:hover, .header .navpanel_menu_menu a:hover {
    color: #fff;
  }
  .main_title {
    font-size: 36px;
  }
  .main .request-text, .main .request-select {
    font-size: 16px;
  }
  .main #serviceDay, .main #serviceMonth, .main #serviceYear, .main #serviceTime {
    font-size: 13px;
    height: 49px;
  }
  .main .srv-tab:not(.srv-tab-active):hover {
    background-color: rgb(179, 179, 179);
    color: #000;
    font-weight: normal;
  }
  .main #search:hover, .main #requestBtn:hover, .main .selectBtn:hover {
    background-color: #444;
    color: #ffffff;
  }
  .services_text {
    font-size: 14px;
  }
  .services_list-item {
    font-size: 13px;
  }
  .services_item {
    margin-bottom: 40px;
  }
  .fast-track {
    padding-bottom: 0;
  }
  .fast-track_item {
    font-size: 18px;
  }
  .fast-track_empty {
    display: none;
  }
  .cars-gallery_warning {
    padding-right: 55px;
    padding-left: 55px;
  }
  .cars-gallery ul.nav {
    display: none;
  }
  .cars-gallery_car-name {
    display: block;
  }
  .footer_links a {
    font-size: 11px;
  }
  .footer_social i:hover {
    color: #fff;
    -webkit-transform: none;
            transform: none;
  }
  .about_leader {
    max-width: 48%;
  }
}
@media (max-width: 767px) {
  .header .navpanel {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .header .navpanel_logo {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin-bottom: 15px;
  }
  .header .navpanel_contacts {
    text-align: center;
  }
  .header .navpanel_menu {
    margin-top: 15px;
  }
  .header .navpanel_menu a {
    font-size: 20px;
  }
  .header_logo {
    max-width: 300px;
    margin: 0 auto;
  }
  .main .booking .top-content {
    padding-bottom: 50px;
  }
  .main_title {
    font-size: 25px;
  }
  .main_content {
    padding-top: 50px;
  }
  .main .request-form {
    margin-bottom: 0;
  }
  .main_slider {
    height: 345px;
  }
  .main .cars-list .car {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border-bottom: 2px solid #000;
  }
  .main .cars-list .car .car-data, .main .cars-list .car .car-icon, .main .cars-list .car .car-price, .main .cars-list .car a {
    min-width: 47%;
  }
  .main .cars-list .car .car-data, .main .cars-list .car a {
    text-align: center;
  }
  .main .request-form {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 5, 1fr;
  }
  .main .request-form .request-title {
    grid-column: 1/3;
  }
  .main .request-form #comments, .main .request-form #requestBtn {
    grid-column: 2/3;
  }
  .main .request-form .request-form-contact {
    grid-row: 3/5;
  }
  .main .request-form #comments {
    grid-row: 3/4;
    margin-top: 13px;
    height: 165px;
  }
  .main .request-form #requestBtn {
    grid-row: 4/5;
  }
  .main .request-form #serviceDay, .main .request-form #serviceMonth, .main .request-form #serviceYear, .main .request-form #serviceTime {
    font-size: 16px;
  }
  .services {
    padding-bottom: 15px;
  }
  .services_text {
    font-size: 18px;
  }
  .services_list-item {
    font-size: 16px;
  }
  .services_item {
    margin-bottom: 25px;
  }
  .services_title {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .terms_title {
    font-size: 25px;
  }
  .cars-gallery_title {
    margin-top: 15px;
    margin-bottom: 25px;
  }
  .cars-gallery_warning {
    margin-bottom: 25px;
  }
  .cars-gallery_photo:first-child {
    margin-bottom: 20px;
  }
  .footer_social, .footer_links {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 10px;
  }
  .footer_address, .footer_text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: 10px;
  }
  .footer_social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
  .footer_social i {
    font-size: 25px;
  }
  .footer_links {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer_links a {
    font-size: 18px;
  }
  .about_name br {
    display: inline;
  }
}
@media (max-width: 575px) {
  .header_contacts, .header_menu {
    display: block;
    padding: 5px 0 5px 10px;
  }
  .header_logo {
    max-width: 100%;
    border-radius: 5px;
    -webkit-box-shadow: 0 -2px 5px 6px rgba(210, 210, 210, 0.3);
            box-shadow: 0 -2px 5px 6px rgba(210, 210, 210, 0.3);
  }
  .header .navpanel {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .header .navpanel_logo {
    width: 75%;
    margin: 0 auto 10px;
    padding: 0;
  }
  .header .navpanel_contacts {
    display: none;
  }
  .header .navpanel_contacts.opened {
    display: block;
    margin-bottom: 10px;
  }
  .header .navpanel_menu {
    display: none;
  }
  .header .navpanel_menu.opened {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 7px;
  }
  .header .navpanel_menu a {
    font-size: 18px;
  }
  .main_slider {
    height: 210px;
  }
  .main_slider #slider-prev {
    left: 7px;
  }
  .main_slider #slider-next {
    right: 7px;
  }
  .main_slider.p-2 {
    padding: 3px !important;
  }
  .main .slider-title-name, .main .slider-title-price {
    font-size: 12px;
  }
  .main .car {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5px 5px 10px;
    gap: 5px;
  }
  .main .car a[href="#serviceDay"] {
    min-width: 100%;
  }
  .main .car a[href="#serviceDay"] button.selectBtn {
    width: 100%;
  }
  .main .car-name {
    font-size: 17px;
    margin-bottom: 0;
  }
  .main .request-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .request-form #comments {
    margin-top: 0;
    margin-bottom: 20px;
    height: 150px;
  }
  .services_title {
    font-size: 32px;
  }
  .services_text {
    font-size: 17px;
    text-align: left;
  }
  .services_list-item {
    font-size: 15px;
  }
  .services .fast-track_item {
    font-size: 16px;
  }
  .fast-track .services_title {
    font-size: 28px;
  }
  .terms_title {
    font-size: 22px;
  }
  .terms_item {
    font-size: 15px;
  }
  .cars-gallery_title {
    font-size: 32px;
  }
  .cars-gallery_warning {
    font-size: 14px;
  }
  .cars-gallery_car-name {
    font-size: 16px;
  }
  .footer_links a {
    font-size: 15px;
  }
  .about {
    padding: 0 0 20px;
  }
  .about_wrapper {
    gap: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about_leader {
    max-width: 70%;
  }
  .about_name {
    font-size: 17px;
  }
  .about_name br {
    display: none;
  }
  .about_position {
    font-size: 14px;
  }
  .about_description {
    padding-top: 25px;
  }
  .about_text {
    font-size: 15px;
  }
}
@media ((min-width: 470px) and (max-width: 576px)) {
  .main_slider {
    height: 320px;
  }
}
@media ((min-width: 370px) and (max-width: 469px)) {
  .main_slider {
    height: 270px;
  }
}